{% load static %}
<!DOCTYPE html>
<html lang="ru"  >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{#      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"#}
{#          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <link rel="icon" href="/static/img/fav/favicon.ico" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" izes="16x16" href="/static/img/fav/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#ffffff">



    <title>{% block title %}Тут будет заголовок{% endblock %}</title>
  </head>
 <body style="background: url(/static/img/ocean.jpg) center center / 100% 100% no-repeat fixed rgb(150,197,231); height: 2491.66px;"
       class="d-flex flex-column min-vh-100">

    {% include 'includes/header.html' %}

    <main><p>
      {% block content %}

      Контент не подвезли :(

      {% endblock %}
    </main>

    {% include 'includes/footer.html' %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous">
</script>
 </body>
</html>