{% extends 'base.html' %}
{% block title %}{{ group.title }}{% endblock %}

{% block content %}
{% load thumbnail %}

<div class="container">
  <h1>{{ group.title }}</h1>
  <p>
    {{ group.description }}
  </p>
    {% for post in page_obj %}
    {% if post.is_published %}
    {% include 'includes/post_list.html' %}

      <p>{% if post.group %}
          <a href="{% url 'posts:group_list' post.group.slug  %}">все записи группы</a>
         {% endif %}
      {% if not forloop.last %}
      <hr>
      {% endif %}
        {% else %}
            <article>
            <div class="list-group"
                 <li class="list-group-item">
                     Пост № {{ post.pk }} Извините. Ожидает одобрения администрацией.
                 </li>
            </article>
    {% endif %}
    {% endfor %}
    {% include 'includes/paginator.html' %}
</div>

{% endblock %}
